version: '3.8'
services:
  webapp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    working_dir: /app
    ports:
      - '82:80'
    tty: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - nginx-proxy

  report:
    image: nginx:1.14
    ports:
      - '81:80'
    volumes:
      - test-report:/usr/share/nginx/html
    networks:
      - nginx-proxy

  test:
    build:
      context: tests/
      dockerfile: Dockerfile
    container_name: task
    working_dir: /app
    image: tests
    depends_on:
      webapp:
        condition: service_healthy
    networks:
      - nginx-proxy
    volumes:
      - .:/app
      - test-report:/report
      - /app/node_modules

volumes:
  test-report:

networks:
  nginx-proxy:
    external: true
